*~
*DS_Store*
*get_next_line/get_next_line.c
*get_next_line/get_next_line.h
*author
*auteur
*ft_printf/*/testing_results
*ft_printf/*/generated_testers
*ft_printf/*/executables
*obj/
*get_next_line/*tests/*_ans
*.o
*get_next_line/libft/
*get_next_line/*/logs/
*ft_printf/fails
*ft_printf/libftprintf.a